:root {
    --main-color:#FCDF5F;
}
body{
    background-color:#141414;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gold{
    color: var(--main-color);
}
header{
    background-image: url(../images/rectangle@2x.png);
    background-size:cover;
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width:992px) {
  header{
      height: 80vh;
  }
}
@media (max-width:825px) {
  header{
      height: 60vh;
  }
}
@media (max-width:625px) {
  header{
      height: 50vh;
  }
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.205);
    display: block;
}
#brand{
    width: 60px;
}
#nav-icon{
    color: var(--main-color);
}
nav{
    background-color: #0D0D0D;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}
nav ul li a:hover{
    color: var(--main-color);
}
a.active{
    border-bottom: dashed;
    color: var(--main-color);
}
#btn{
    background-color: var(--main-color);
    border-radius: 10px;
}
#btn:hover{
    opacity: 0.8;
}
.search{
    background-color: #0D0D0D;
    color: #fff;
    position: absolute;
    bottom: -60px;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
}
@media (max-width:992px) {
    .search{
        width: 40%;
    }
}
.search .search-icon{
    background-color: var(--main-color);
}
.search .search-icon{
    color: #0D0D0D;
    font-size: 45px;
}
.contact-inputs input[type="text"]{
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #141414;
    color: #fff;
}
.contact-inputs textarea{
    height: 200px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #141414;
    color: #fff;
}
.contact-inputs input[type="submit"]{
    cursor: pointer;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.load-more,.load-less{
    background-color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.footer{
    background-color: #0D0D0D;
}
.footer .icons i{
    color: #fff;
    font-size: 35px;
    margin: 18px;
    cursor: pointer;
}
.footer .enter-email input{
  background-color: #1A1A1A;
  border: none;
  outline: none;
  color: var(--main-color);
}
.footer .enter-email input::placeholder{
  color: var(--main-color);
}
.footer .enter-email{
    background-color: #1A1A1A;
    color: var(--main-color);
    border-radius: 5px 0 0 5px;
}
.footer .subscripe{
    background-color: var(--main-color);
    color: #0D0D0D;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.myDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
    width: 50%;
    padding: 10px;
  }
  .myDiv img{
    width: 100%;
    position: relative;
    height: 80vh;
    border-radius: 30px;
  }
  .close{
    position: absolute;
    color: #fff !important;
    right: -25%;
    top: -5%;
    border-radius: 50%;
    padding: 10px 0 14px 0;
    font-size: 50px !important;
    text-align: center;
    opacity: 1;
    cursor: pointer;
  }
  .arrows,.arrows-2{
    display: none;
  }
  .arrows i:first-child,.arrows-2 i:first-child{
    position: fixed;
    top: 50%;
    font-size: 50px;
    right: 3%;
    z-index: 100;
    cursor: pointer;
    color: #fff;
  }
  .arrows i:last-child,.arrows-2 i:last-child{
    position: fixed;
    top: 50%;
    font-size: 50px;
    left: 3%;
    z-index: 100;
    cursor: pointer;
    color: #fff;
  }
  .over{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.486);
  }
  .has-img-bg img{
    height: 75%;
    width: 80%;
  }
  @media (max-width: 992px){
    .myDiv{
      width: 80%;
    }
    .myDiv img{
      height: 80vh;
    }
    .close{
      right: -8%;
    }
    .arrows i:last-child{
      left: 5%;
    }
    .arrows i:first-child{
      right: 5%;
    }
  }
  @media (max-width: 575px){
    .myDiv{
      width: 80%;
    }
    .myDiv img{
      height: 50vh;
    }
  }